{% extends "index.html.twig" %}
{% block title %} Liste des catégories - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des catégorie</h1>
    </div>
    <div class="container-flui mt-2">
    <form method="post" class="col-lg-8" action='/Admin/Categories/Add'>
            <label for="categorie" class="form-control">Ajout d'une Catégorie</label>
            <input type="category" name="Nom">
            <input type="submit">
    </form>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categoryList %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.Nom }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-warning" href="/Admin/Categories/Update/{{ category.id }}"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" href="/Admin/Categories/Delete/{{ category.id }}"><i class="far fa-trash-alt"></i></a>
                        </div>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}