{% extends "index.html.twig" %}
{% block title %} Liste des membres - {{ parent() }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Liste des membres</h1>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Email</th>
                <th scope="col">Droits</th>
            </tr>
            </thead>
            <tbody>
            {% for user in usersList %}
                <tr>
                    <th scope="row">#{{ user.Id }}</a></th>
                    <td>{{ user.Pseudo }}</td>
                    <td>{{ user.Email }}</td>
                    <td>
                        <a class="btn btn-primary" href="/Admin/Users/Permissions/{{ user.Pseudo }}"><i class="far fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}